@import '../../styles/variables';

.Discover {
  display: block;
  width: $max-width;
  max-width: 90%;
  margin: 0 auto;

  &__Results,
  &__NoResults {
    display: block;
    text-align: center;
    font-size: 3rem;
    letter-spacing: .5rem;
  }

  &__Results {
    padding: 0 0 4rem;
  }

  &__NoResults {
    padding-top: 5rem;
  }
}